# Collate and save partial LSOA full results files

Full file was divided to keep within GitHub transfer limits

In [1]:
import pandas as pd

In [2]:
files = []
for i in range (1,9):
    files.append(pd.read_csv(f'lsoa_full_batch_{i}.csv'))

In [3]:
results = pd.concat(files, axis=0)

In [4]:
results.head()

,from_postcode,to_postcode,from_lat,from_long,to_lat,to_long,from_loc_identified,to_loc_identified,route_locs_identified,time_min,distance_km,imputed,no_route,calibrated_mins
0,E01000001,RM70AG,51.517014,-0.09702,51.568620,0.179031,True,True,True,26.0,24.5,0,0,34.3
1,E01000001,E11BB,51.517014,-0.09702,51.519025,-0.058075,True,True,True,5.0,3.2,0,0,11.7
2,E01000001,SW66SX,51.517014,-0.09702,51.473715,-0.212722,True,True,True,19.0,12.9,0,0,26.7
3,E01000001,SE59RW,51.517014,-0.09702,51.469504,-0.093252,True,True,True,11.0,7.5,0,0,18.1
4,E01000001,BR68ND,51.517014,-0.09702,51.366243,0.059146,True,True,True,31.0,27.2,0,0,39.6

In [5]:
len(results)

4900171

In [6]:
results.to_csv('lsoa_full_results.csv', index=False)